# Virtual environment
venv/
.venv/
it/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# MongoDB local files (if you run it locally)
mongodb/
data/db/
*.wt
*.lock
WiredTiger*
journal/

# Environment variables
.env

# Logs
*.log
logs/
